nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -70px;
    margin-left: 163px;
    padding-top: 70px;
    h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        color: #B1B9D8;
        padding-left: 40px;
    }
    img{
       padding-right: 60px;
       width:   130px;

    }
}